.carouselSlide {
    display: flex; 
    flex-direction: row;

    .carouselInner {
    background-color: rgb(58, 100, 100);
    display: flex; 
    flex-direction: row;
    max-width: fit-content;
    margin-bottom: .5rem;
    }
    
    .card {
        margin: 0 .5em;
    }

    .carouselItem {
        display: none;
    }

    .carouselControls {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    .carouselControlPrev, .carouselControlNext{
        background-color: #e1e1e1;
        width: 10vh;
        height: 5vh;
        top: 50%;
        transform: translateY(-50%);
    }

    .carouselControlPrev {
        position: absolute;
        left: .2rem;
        
    }

    // .carouselControlNext {
        
    // }

    }

}

@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }

    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }   
}