

.CartPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 9vh;
   
    height: 100vh;
    color: white;
    background-color: rgb(237, 235, 234);
    padding-left: 20px;  /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
    .userName{
        color: rgb(7, 7, 7);
    }

    .Ordersdetails{
        display: flex;
        flex-direction: row; 
        color: black;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        .qty > span {
            margin: 0 9px; /* This gives 5px of spacing on both left and right side of the <span> */
        }
        .btnForQty {
            background-color: rgba(255, 216, 20); /* You can change the color to your preference */
            border: none;
            padding: 5px 10px; /* Adjust padding as needed */
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 1rem; /* Adjust font-size as needed */
    
            &:hover {
                background-color: rgba(240, 204, 68); /* Hover effect */
            }
    
        }
    
        .OrdersList{
            width: 90vw;
            height: 81vh;
            background-color: rgb(250, 250, 249);
            overflow-y: auto;  
            
            .image {
                height: 8vw;
                width: 8vw;
                border-radius: 1vmin;
            }
        }

        .columnWrap {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .checkout, .promo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30vw;
                background-color: white;
                color: rgb(0, 0, 0);
                margin-left: .9vw;
                padding: 1rem;
            }

            .checkout {
                height: 42vh;

                .checkoutbtn {
                    background-color: rgba(255, 216, 20);
                    border: none;
                    max-width: 30vw;
                    width: 100%;
                    padding: 10px 20px;
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: rgba(240, 204, 68);
                    }
                }
            }

            .promo {
                height: 30vh;
            }
        }

        .lineItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            color: black;

            .lineSeparator {
                border: none;
                border-top: 1px solid red;
                margin: 8px 0;
                color: transparent;
            }

            > p { 
                margin: 0 1rem;
            }

            > img {
                border: .1vmin solid black;;
                margin-right: 1rem;
            }

            > button {
                margin-left: 1rem;
            }
        }
    }
}

/* For screens smaller than 768px (can adjust as needed) */
@media (max-width: 768px) {
    .CartPage {
        .Ordersdetails {
            flex-direction: column;
            
            .OrdersList {
                width: 95vw;
                height: auto; /* Adjust according to your design requirements. */
            }
            
            .columnWrap {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                .checkout, .promo {
                    width: 45vw; /* Adjust width for smaller screens */
                    margin-left: 0; /* Reset margin */
                }
            }
        }
    }
}
