.LogOut{
  position: relative;
  height: 1vh;
  width: 100vw;
  background-color: red;
  button{
    width: 100px;
    height: 3vmin;
    background-color: yellow;
    left: 45vw;
    bottom: 0;
    position: fixed;
  }
}